[tool.isort]
profile = "black"

[settings]
# include_trailing_comma = true # тут выдает ошибку
line_length = 120
multi_line_output = 3
# lines_after_imports = 2
skip = __init__.py,.venv,alembic,docker,.git,__pycache__